# Server Configuration
NODE_ENV=development
PORT=5000

# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/distributed-notes?retryWrites=true&w=majority

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here-make-it-long-and-random
JWT_EXPIRE=7d

# CORS Configuration
CLIENT_URL=http://localhost:3000

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Socket.io Configuration
SOCKET_CORS_ORIGIN=http://localhost:3000

# Email Configuration (for email verification)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=noreply@workflowmanagement.com

# Deployment Configuration (for production)
# MONGODB_URI=mongodb+srv://prod-user:prod-password@prod-cluster.mongodb.net/distributed-notes-prod
# CLIENT_URL=https://your-frontend-domain.com
# SOCKET_CORS_ORIGIN=https://your-frontend-domain.com
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=your-production-email@gmail.com
# SMTP_PASS=your-production-app-password



ENCRYPTION_KEY=4ba7e19798531413bbbf8bad07e980e9
SLACK_CLIENT_ID=9414711188336.9386077956261
SLACK_CLIENT_SECRET=fe5210e8be25ad8527df10297a935f42
SLACK_SIGNING_SECRET=a80829f35c80b79a56d308cec8033350
GITHUB_WEBHOOK_SECRET=db10862390a4ccc6d9cdba8c91ba2239f39d28eefb277457e873acb883825cf3